/*botton*/
.btn{ height:$_80; line-height:$_80; display:inline-block; border:1px solid $main-color; padding: 0 $_24; text-align:center; background-color: $main-color; color:#fff;}
.btn-large{ width:100%;}
.btn-disable{ @include disabled( #eee,#999 ); border:1px solid #ccc; }
.btn-default{ // @include hover();
//    &:hover,
//    &.cur{ background: darken($main-color, 10%); }
//    &:focus{ background: darken($main-color, 5%);}
//    &:active{ background: fade($main-color, 60%);}
}
.btn-group{}
