#KeyFrames(@name, @frames){
    @-webkit-keyframes @name{
        @vendor: -webkit-;
        @frames();
    }
    @-moz-keyframes @name{
        @vendor: -moz-;
        @frames();
    }
    @-o-keyframes @name{
        @vendor: -o-;
        @frames();
    }
    @-ms-keyframes @name{
        @vendor: -ms-;
        @frames();
    }
    @keyframes @name{
        @vendor: ~'';
        @frames();
    }
}

#Animation(@name, @sec){
    animation: @name, @sec;
    -moz-animation: @name, @sec;
    -webkit-animation: @name, @sec;
    -o-animation: @name, @sec;
    -ms-animation: @name, @sec;
}