input{ padding: 0 @_10; width: 100%; height: @_80; line-height: @_80; border: 1px solid #ccc; -webkit-appearance:none; border-radius: 0;}
.input-mid{ width: 50%;}
.input-error{ border: 1px solid #f00; color: #f00;}